fastapi
uvicorn
python-dotenv
mysql-connector-python
sqlalchemy
pydantic
passlib[bcrypt]
python-jose
email-validator

# Utilizar o comando pip install -r requirements.txt no terminal para instalar as dependências listadas neste arquivo.